*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color:  #000000;
    font-family: 'Times New Roman', Times, serif;
}
.container{

    background-color: #fff;
    padding: 20px;
    border: 2px solid #e9e5e5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    height: 87vh;
    margin: 80px;
}
.heading{

    color: black;
    font-size: 30px;
    font-weight: 500;
    margin: 10px 3px;
}
.form-group{

    text-align: center;
    margin-bottom: 20px;
}

.form-group label{

    display: block;
    margin: 5px;
    font-weight: bold;
    text-align: left;
}

.form-group input{

    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 20px;
}

input[type=text], input[type=password]{


    width: 100%;
    padding: 8px 8px;
    margin: 5px;
    border: 2px solid #e9e5e5;
    border-radius: 5px;
    color: aqua;
}


.form-group button{

    width: 233px;
    background-color: rgb(150, 101, 10);
    color: white;
    border: none;
    padding: 15px 15px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    align-items: center;

}
.btn:hover{

    opacity: 0.7;
}

form{
    
    margin-bottom: 20px;
    
}

.account{

    margin-top: 10px;
    font-size: 14px;
    color: black;
    text-align: center;
}

.forget-pass{

    margin-top: 20px;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.social-icons{

    margin-top: 50px;
    text-align: center;
}
.social-icons i {

    font-size: 20px;
    width: 30px;
    height: 30px;
    margin: 0 3px;
}
.fa-facebook{

    color: #3b5998;

}
.fa-square-twitter{

    color: #55acee;
}
.fa-instagram{

    color: #e4405f;
}